body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ff99cc;
}

header {
    background-color: #ff33cc;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #ff33cc;
}

button {
    background-color: #ff33cc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

audio {
    width: 100%;
}

footer {
    background-color: #ff33cc;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
}